    /* font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif; */

.body {
    background-color: #131313;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1157px;  
    color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 14px;

    
}

.logo {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    color: #1ACD4C;
    font-size: 30px;
    line-height: 38px;
}

.line {
    
    border: 0.3px solid #272727;
    margin-left: 20px; 
    height: 26px;
}

.card {
    font-weight: 400px;
    margin-left: 20px;
}

.nav {
    margin-left: auto;
    
}

a {
    text-decoration: none;
}

.nav a{
    color: #FFFFFF;
    margin-left: 20px;
}


.nav a:hover {
    color: #4F4F4F;
}


.second {
    border-top: #272727;
    font-weight: 900px;
    background-image: url(/img/wall.png);
}

.second h1 {
    padding: 100px 0px 70px 14px;
    font-size: 30px;
}

.table {
    position: relative;
}

table {
    width: 1146px;
    border-collapse: collapse;
}


tbody tr {
    border-left: 1px solid #272727;
    border-right: 1px solid #272727;
}

th {
    color: #727272;
    font-weight: 700px ;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #272727;
    padding: 15px 15px;
    
}

td {
    font-weight: 400px;
    font-size: 16px;
    border-bottom: 1px solid #272727;
    padding: 15px 15px;
}  


.nav_page {
    text-align: center;
    padding: 15px 0px 150px 0px;
}


li {
    list-style-type: none;
    padding-left: 30px;
    color: #FFFFFF;
    margin: 0 auto;
    display: inline-block;
    
}

li a {
    color: #FFFFFF;
    font-size: 16px;
}

li a:hover {
    color: #4F4F4F;
}

#elect { 
    color: #4F4F4F;
}